textview text {
    font-size: 4px;
    color: #ffffff;
    background-color: #0e1621;
  
}
textview {
    font-size: 15px;
}


button {
  border-radius: 4px;
  color: #000000;

}

#main{
  background-color: #18212b;

}
entry {
  border-radius: 4px;
  color: #000000;
  background-color: #ffffff;
}
#labelm{
  color: #ffffff;
}
