textview text {
    font-size: 4px;
    color: #ffffff;
    background-color: #0e1621;
  
}

textview {
    font-size: 15px;
}

#paned button {
    border-radius: 10px;
}

#titlebar  {
    min-height: 0px;
}

#main {
  background-color: #18212b;
}

entry {
  border-radius: 10px;
  color: #000000;
  background-color: #ffffff;
}

#labelm {
  color: #ffffff;
}
